<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./library/jquery-3.5.0.min.js"></script>
    <title>FilmBooking Website</title>
  </head>
  <body>
    <div id="app">
      <!-- Large modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">
        Thanh toán
      </button>

      <div
        id="login"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myLargeModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 90%;">
          <div class="modal-content">
            <div class="modal-header border-bottom-0 justify-content-center align-items-center">
              <p class="text-center text-primary h4 m-0">Thanh toán</p>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img src="./images/poster-thumbnail.jpg" alt="" />
                  <p class="mt-2 mb-1">
                    <span class="badge badge-danger align-middle">C18</span
                    ><span class="h5 align-middle"> Bloodshot</span>
                  </p>
                  <p>110 phút - 0 IMDb - 2D/Digital</p>
                </div>
                <div class="col-sm-9">
                  <div class="bg-dark-4 cinema p-1">
                    <div class="cinema-screen text-center">Màn hình</div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="seat bg-light-1">1</div>
                      <div class="seat bg-light-1">2</div>
                      <div class="seat bg-light-1">3</div>
                      <div class="seat bg-light-1">4</div>
                      <div class="seat bg-light-1">5</div>
                      <div class="seat bg-light-1">6</div>
                      <div class="seat bg-light-1">7</div>
                      <div class="seat bg-light-1">8</div>
                      <div class="seat bg-light-1">9</div>
                      <div class="seat bg-light-1">10</div>
                      <div class="seat bg-light-1">11</div>
                      <div class="seat bg-light-1">12</div>
                      <div class="seat bg-light-1">13</div>
                      <div class="seat bg-light-1">14</div>
                      <div class="seat bg-light-1">15</div>
                      <div class="seat bg-light-1">16</div>
                      <div class="seat bg-light-1">17</div>
                      <div class="seat bg-light-1">18</div>
                      <div class="seat bg-light-1">19</div>
                      <div class="seat bg-light-1">20</div>
                      <div class="seat bg-light-1">21</div>
                      <div class="seat bg-light-1">22</div>
                      <div class="seat bg-light-1">23</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
