<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/detail.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="root">
            <div class="backgound" style="background-image: url(./images/poster_ready_player_one.jpeg);">
                <div class="row">
                    <div class="col-md-4 poster">
                        <img class="img-fluid" src="./images/Đấu_trường_ảo_2018.jpg" alt="poster">
                    </div>
                    <div class="col-md-4  ">
                        <div class="detail_in_poster text-center">
                            <p>11-04-2018</p>
                            <h3 class="name">READY PLAYER ONE</h3>
                            <div class="inline-block">
                                <span>120 phút</span>
                                - <span>10.0 IMDb</span>
                                - <span>2D-3D</span>
                            </div>
                            <div class="text-center">
                                <button class="btn">DAT VE</button>
                                <button class="btn" data-toggle="modal" data-target="#trailer">XEM TRAILER</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="infomation">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="capitalize">Trạng thái: </span>Còn vé</li>
                            <li class="list-group-item"><span class="capitalize">Điểm IMDb: </span><span
                                    class="IMDb">10.0</span></li>
                            <li class="list-group-item"><span class="capitalize">Ngày phát hành: </span>1/1/2020</li>
                            <li class="list-group-item"><span class="capitalize">Đạo diễn: </span>VMH</li>
                            <li class="list-group-item"><span class="capitalize">Thể loại: </span>Cyberpunk</li>
                            <li class="list-group-item"><span class="capitalize">Định dạng: </span>2D,3D</li>
                            <li class="list-group-item"><span class="capitalize">Quốc gia sản xuất: </span>Mỹ</li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <p>Nội dung: </p>
                        <p>Ready Player One xoay quanh cuộc phiêu lưu của Wade Watts (do Tye Sheridan thủ vai). Phim lấy
                            bối cảnh tại Columbus, Ohio năm 2045. Thế giới thực mà Wade đang sống là một nơi có sự phân
                            hóa giàu nghèo rõ ràng. Chính vì vậy, hầu hết tất cả người dân sống tại đó, bao gồm cả Wade,
                            đều hòa mình vào thế giới ảo mang tên OASIS.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="trailer" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <video src="https://www.youtube.com/watch?v=cSp1dM2Vj48&t=41s"></video>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>