<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1ad169e7bc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./css/app.css" />
    <link rel="stylesheet" href="./css/detail.css" />
    <link rel="stylesheet" href="./css/homepage.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="background p-3 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="poster">
              <img class="poster-img" src="./images/Đấu_trường_ảo_2018.jpg" alt="" />
              <button class="trailer" data-toggle="modal" data-target="#trailer">
                <img src="./images/play-video.png" alt="" />
              </button>
            </div>
          </div>
          <div class="col-md-8 d-flex justify-content-center align-items-center text-center mt-3">
            <div class="detail_in_poster align-items-center">
              <p>11-04-2018</p>
              <div class="film-name">
                <span class="mb-0 align-middle badge badge-primary mr-1">C16</span
                ><span class="align-middle">READY PLAYER ONE</span>
              </div>
              <div class="inline-block">
                <span>120 phút</span>
                - <span>10.0 IMDb</span> - <span>2D-3D</span>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mt-3">ĐẶT VÉ NGAY</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <div class="home-title">
          <a class="active">LỊCH CHIẾU</a>
          <a>THÔNG TIN</a>
          <a>ĐÁNH GIÁ</a>
        </div>
        <div class="infomation rounded">
          <div class="row p-3">
            <div class="col-md-6">
              <div class="row information__item">
                <p class="information__title">Trạng thái:</p>
                <p>Còn vé</p>
              </div>
              <div class="row information__item">
                <p class="information__title">Điểm IMDb:</p>
                <p>10.0</p>
              </div>
              <div class="row information__item">
                <p class="information__title">Ngày phát hành:</p>
                <p>11/04/2020</p>
              </div>
              <div class="row information__item">
                <p class="information__title">Thời lượng:</p>
                <p>120 phút</p>
              </div>
              <div class="row information__item">
                <p class="information__title">Thể loại:</p>
                <p>Hành động</p>
              </div>

              <div class="row information__item">
                <p class="information__title">Định dạng:</p>
                <p>2D/3D</p>
              </div>
              <div class="row information__item">
                <p class="information__title">Đạo diễn:</p>
                <p>VMH</p>
              </div>
              <div class="row information__item">
                <p class="information__title">Quốc gia SX:</p>
                <p>Mỹ</p>
              </div>
            </div>
            <div class="col-md-6 justify-content-start px-0">
              <div class="information__item">
                <p class="information__title">Nội dung:</p>
                <p class="text-justify">
                  Dựa trên bộ truyện tranh bán chạy nhất, nam diễn viên Vin Diesel đảm nhận vai Ray Garrison, một người
                  lính không may bị giết trong lúc ra trận và trở lại với vai trò là siêu anh hùng Bloodshot của tập
                  đoàn RST. Với một đội quân công nghệ nano trong huyết quản, anh ta là một lực lượng không thể ngăn
                  cản, mạnh mẽ hơn bao giờ hết và có thể chữa lành ngay lập tức. Nhưng trong việc kiểm soát cơ thể của
                  mình, công ty cũng đã thay đổi cả tâm trí và ký ức của anh ấy.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <!-- Modal -->
      <div
        class="modal fade"
        id="trailer"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <iframe
              width="813"
              height="457"
              src=" https://www.youtube.com/embed/cSp1dM2Vj48"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
   
   
   
   
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
