<!doctype html>
<html lang="en">

<head>
  <title>movie-booking</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fontawnsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/app.css">
  <link rel="stylesheet" href="./css/homepage.css">
  <link rel="stylesheet" href="./css/booking-process.css">
  <link rel="stylesheet" href="./css/schedule.css">

  <script
      src="https://kit.fontawesome.com/5ebd2fc909.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>

  <!--Log in-->
  <div
  id="login"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 justify-content-center align-items-center">
        <p class="text-center text-primary h4 m-0">Đăng nhập</p>
      </div>
      <div class="modal-body">
        <form>
          <input
            class="rounded w-100 border-0 bg-dark-4 p-2 mb-3"
            type="text"
            name="username"
            placeholder="Tài khoản"
          />
          <input
            class="rounded w-100 border-0 bg-dark-4 p-2 mb-3"
            type="password"
            name="password"
            placeholder="Mật khẩu"
          />
          <div class="text-center">
            <input type="checkbox" name="remember-account" id="remember-account" />
            <label for="remember-account">Nhớ tài khoản</label>
          </div>
          <input class="btn btn-block btn-primary border-0" type="submit" value="Đăng nhập" />
        </form>
        <p class="text-center my-3">Chưa có tài khoản? <a href="#">Đăng ký</a> hoặc</p>
        <a class="btn btn-block btn-danger border-0 text-center">Đăng nhập bằng Google</a>
        <a class="btn btn-block btn-info border-0 text-center">Đăng nhập bằng Facebook</a>
      </div>
    </div>
  </div>
</div>
  <!-- Header -->
  <header class="container-fuild" id="header">
    <nav class="navbar navbar-expand-md">

      <!-- Header logo -->
      <a href="#" class="navbar-brand">
        <img src="./images/logo-dark-mode.png" alt="logo-web">
      </a>
      <!-- End Header logo -->

      <!-- Header button toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="toggle-icon"></span>
      </button>
      <!-- End header button toggler -->

      <!-- Navigation bar -->
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">Lịch chiếu</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Cụm rạp</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Tin tức
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Sự kiện nổi bật</a>
              <a class="dropdown-item" href="#">Review</a>
              <a class="dropdown-item" href="#">Khuyến mãi</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Tuyển dụng</a>
          </li>
        </ul>

        <!-- Sign in -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="signin nav-link">
              <i class="fa fa-user mr-2"></i>
              <!-- <p data-toggle="modal" data-target="#login">Đăng nhập</p> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">
                Đăng nhập
              </button>
            </a>
          </li>
        </ul>
        <!-- End Sign in -->

      </div>
    </nav>
  </header>
  <!-- End header -->

  <div id="body">
    <div class="container">
      <div class="card text-dark-1">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <ul class="cinema-list">
                <li><img class="round-img" src="./images/rap-CGV.png" alt=""> CGV</li>
                <li><img class="round-img" src="./images/rap-CGV.png" alt=""> CGV</li>
                <li><img class="round-img" src="./images/rap-CGV.png" alt=""> CGV</li>
                <li><img class="round-img" src="./images/rap-CGV.png" alt=""> CGV</li>
                <li><img class="round-img" src="./images/rap-CGV.png" alt=""> CGV</li>
                <li><img class="round-img" src="./images/rap-CGV.png" alt=""> CGV</li>
                <li><img class="round-img" src="./images/rap-CGV.png" alt=""> CGV</li>
              </ul>
            </div>
            <div class="col-md-9">
              <div class="d-flex schedule-days scroll-area">
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
                <div class="text-center py-2 px-4">
                  <p>Thứ 2</p>
                  <p>13/10</p>
                </div>
              </div>
              <div class="schedule-content scroll-area mt-3">
                <div class="movie-time__item mt-2">
                  <img src="./images/ke-san-lung-so-hai.jpg" alt="">
                  <div class="movie-time__item-detail">
                    <p class="movie-time-title">Kẻ săn lùng sợ hãi
                      <span>C18</span>
                    </p>
                    <p class="mb-4 mt-2"><span class="mr-3">2D</span>Phụ đề</p>
                    <p>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                    </p>
                  </div>
                </div>
                <div class="movie-time__item mt-2">
                  <img src="./images/ke-san-lung-so-hai.jpg" alt="">
                  <div class="movie-time__item-detail">
                    <p class="movie-time-title">Kẻ săn lùng sợ hãi
                      <span>C18</span>
                    </p>
                    <p class="mb-4 mt-2"><span class="mr-3">2D</span>Phụ đề</p>
                    <p>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                    </p>
                  </div>
                </div>
                <div class="movie-time__item mt-2">
                  <img src="./images/ke-san-lung-so-hai.jpg" alt="">
                  <div class="movie-time__item-detail">
                    <p class="movie-time-title">Kẻ săn lùng sợ hãi
                      <span>C18</span>
                    </p>
                    <p class="mb-4 mt-2"><span class="mr-3">2D</span>Phụ đề</p>
                    <p>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                    </p>
                  </div>
                </div>
                <div class="movie-time__item mt-2">
                  <img src="./images/ke-san-lung-so-hai.jpg" alt="">
                  <div class="movie-time__item-detail">
                    <p class="movie-time-title">Kẻ săn lùng sợ hãi
                      <span>C18</span>
                    </p>
                    <p class="mb-4 mt-2"><span class="mr-3">2D</span>Phụ đề</p>
                    <p>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                    </p>
                  </div>
                </div>
                <div class="movie-time__item mt-2">
                  <img src="./images/ke-san-lung-so-hai.jpg" alt="">
                  <div class="movie-time__item-detail">
                    <p class="movie-time-title">Kẻ săn lùng sợ hãi
                      <span>C18</span>
                    </p>
                    <p class="mb-4 mt-2"><span class="mr-3">2D</span>Phụ đề</p>
                    <p>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                      <span>12:30</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="footer container-fuild">
    <div class="container">

      <!-- Footer top -->
      <div class="footer-top">
        <div class="row footer-top-line">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 footer-top__secure">
            <div class="footer-top__item">
              <p class="footer-top__item-title">TIX</p>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Brand Guidelines</a></li>
                <li><a href="#">Thõa thuận sử dụng</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 footer-top__partner">
            <div class="footer-top__item">
              <p class="footer-top__item-title">ĐỐI TÁC</p>
            <div class="partner-content">
              <div class="row partner">
                <div class="partner__item">
                  <a href="#"><img src="./images/logo-dark-mode.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/cgvLogo.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/bhdLogo.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/lottleLogo.png" alt=""></a>
                </div>
              </div>
              <div class="row partner">
                <div class="partner__item">
                  <a href="#"><img src="./images/footer6.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/footer4.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/footer2.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/lottleLogo.png" alt=""></a>
                </div>
              </div>
              <div class="row partner">
                <div class="partner__item">
                  <a href="#"><img src="./images/lottleLogo.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/foot1.jpg" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/footer4.png" alt=""></a>
                </div>
                <div class="partner__item">
                  <a href="#"><img src="./images/foot1.jpg" alt=""></a>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 contact">
            <p class="footer-top__item-title">LIÊN HỆ</p>
            <div class="contact-content">
              <div class="row partner">
                <div class="contact__item">
                  <a href="#"><img src="./images/facebook-logo.png" alt=""></a>
                </div>
                <div class="contact__item">
                  <a href="#"><img src="./images/zalopay_icon.png" alt=""></a>
                </div>
                <div class="contact__item">
                  <a href="#"><img src="./images/cybersoft.png" alt=""></a>
                </div>
                <div class="contact__item">
                  <a href="#"><img src="./images/lottleLogo.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-3 services">
            <p class="footer-top__item-title">CHĂM SÓC KHÁCH HÀNG</p>
            <ul>
              <li>Hotline: 113</li>
              <li>Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)</li>
              <li>Email hỗ trợ: hoidap@tix.vn</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End footer top -->

      <!-- Footer bottom -->
      <div class="footer-bottom">
        <div class="row">
          <div class="col-12 col-md-4 ">
            <img src="./images/zion-logo.jpg" alt="">
          </div>
          <div class="col-12 col-md-4 ">
            <p class="footer-bottom-title text-white">TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</p>
            <p>Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh, Việt Nam.</p>
            <p>Giấy chứng nhận đăng ký kinh doanh số: 0101659783,đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020
              do Sở kế hoạch và đầu tư Thành phố Hồ Chí Minh cấp.</p>
            <p>Số Điện Thoại (Hotline): 1900 545 436</p>
            <p>Email: <a href="#">support@tix.vn</a></p>
          </div>
          <div class="col-12 col-md-4">
            <img src="./images/license.png" alt="lisence">
          </div>
        </div>
      </div>
      <!-- End footer bottom -->
  </footer>
  <!-- End footer -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>