
.background{
    background: var(--dark-2-color);
    position: relative;
    height: 80vh;
    border-radius: 50px;
    margin: 0 0 20px 0;

}

.background::before{
    background: url(../images/poster_ready_player_one.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    filter: blur(8px);
    -webkit-filter: blur(8px);
    top: 0;
    left: 0;
    opacity: 0.5;
}

div.poster{
    position: relative;
    background: url(../images/Đấu_trường_ảo_2018.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    padding-top: 100%;
}



.trailer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    border: none;
    opacity: 0;
}

button.trailer:hover{
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}


.center {
    display: block;
    margin-left: auto;
    width: 70%;
  }

.infomation{
    padding: 1em 2em;
    background-color: var(--dark-2-color);
    font-size: 1em;

}

.information__item{
    margin-bottom: 10px;
    width: 100%;
}

.information__title{
    width: 40%;
    font-weight: bold;
}

iframe{
    width: 100%;
    height: 457px;
}

@media (max-width:480px){
    .background{
        height: 50vh;
    }

    div.poster {
        position: relative;
        background-image: url(../images/poster_ready_player_one.jpeg);
        background-size: 100% auto;
        padding-top: 50%;
        background-position: center center;
    }

    #poster{
        width: auto;
        display: block;
        margin: 0 0;
    }

    .trailer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: none;
        border: none;
        opacity: 1;
    }

    iframe{
        width: 100%;
        height: 300px;
    }
}